<meta charset="utf-8" />
<link rel="manifest" href="<%= hassUrl %>/manifest.json" crossorigin="use-credentials" />
<link rel="icon" href="/static/icons/favicon-1.ico" />
<% for (const entry of latestEntryJS) { %>
  <link rel="modulepreload" href="<%= entry %>" crossorigin="use-credentials" />
<% } %>
